<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Miner main</title>
  </head>
  <body>
      <!-- <nav class="navbar navbar-expand-xs navbar-light bg-light fixed-bottom" style="
      padding-top: 2px;
      padding-bottom: 2px;
      ">
        <a class="navbar-brand navbar_link" href="/dairy">Dairy</a>
        <a class="navbar-brand navbar_link" href="/cash">Cash</a>
        <a class="navbar-brand" data-toggle="modal" data-target="#exampleModalCenter" style="background-color: gray;border-radius: .25rem!important;white-space: pre;"> + </a>
        <a class="navbar-brand navbar_link" href="/timer">Timer</a>
        <a class="navbar-brand navbar_link" href="/wiki">Wiki</a>
      </nav> -->
  


    <div class="container" id="main_cont">
      <!-- Modal -->
      <div >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Api key</label>
                <input type="email" class="form-control" id="api_key_input" placeholder="api_key">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="updateUrls()">Apply</button>
            </div>
          </div>
        </div>


    </div>
    <script>
updateUrls = () =>{
        let addition = document.querySelector('#api_key_input').value
        window.location.href = `?api_key=${addition}`;
      }
    </script>
    


    <script>
      Array.from(document.querySelectorAll('a.navbar_link'))
        .map(el=> el.style.color = 'gray')
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>  </body>
</html>




