<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Miner main</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-xs navbar-light bg-light fixed-bottom" style="
      padding-top: 2px;
      padding-bottom: 2px;
      ">
        <a class="navbar-brand navbar_link" href="/dairy">Dairy</a>
        <a class="navbar-brand navbar_link" href="/cash">Cash</a>
        <a class="navbar-brand" data-toggle="modal" data-target="#exampleModalCenter" style="background-color: gray;border-radius: .25rem!important;white-space: pre;"> + </a>
        <a class="navbar-brand navbar_link" href="/timer">Timer</a>
        <a class="navbar-brand navbar_link" href="/wiki">Wiki</a>
      </nav>
  


    <div class="container" id="main_cont">

      <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="collapse" data-bs-target="#flight_sheet_collapse" aria-expanded="false" aria-controls="flight_sheet_collapse">Flight sheets</button>

      
      <div class="collapse" id="flight_sheet_collapse">
        <div class="card card-body">
          <div class="d-grid gap-2 d-md-block">
            <button type="button" class="btn btn-primary btn-xs" data-bs-toggle="modal" data-bs-target="#create_new_flight_sheet">Create new flight sheet</button>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="create_new_flight_sheet" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Name</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">algo(change to select)</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">pool(change to select?)</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">mining_software(change to select?)</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">mining_software_version(change to select? or make together with mining_software)</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">wallet(change to select?)</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">password</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="x">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">worker( '%worker' for worker name, otherwise empty or custom)</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value='%worker'>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">additional_arguments for miner</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </form>
                
                </div>
              </div>
            </div>
          </div>

          </br>
          <z id="flight_sheets">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
          </z>
        </div>
      </div>
      <!-- <button type="button" class="btn btn-secondary btn-lg">Large button</button> -->
<p >total hashrate: <z id="farm_total_hash">123</z> </p>
<div class="d-grid gap-2 d-md-block">
  <button type="button" class="btn btn-primary btn-xs" data-bs-toggle="modal" data-bs-target="#create_new_worker">Create new worker</button>
</div>

<!-- Modal -->
<div class="modal fade" id="create_new_worker" tabindex="-1" aria-labelledby="create_new_worker" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create_new_worker">Create new worker</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" id="new_worker_name" aria-describedby="emailHelp">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="createNewWorker()">Create new worker</button>
      </form>
      
      </div>
    </div>
  </div>
</div>

      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#events_collapse" aria-expanded="false" aria-controls="events_collapse">
          Events
        </button>
      </h2>  
      </br>
    
      <div class="collapse" id="events_collapse">
        <div class="card card-body" id="eventscontent">
        </div>
      </div>
      <!--  -->
      <!--  -->

      <div id="accordionExample">

      </div>







    </div>
    <script>
createNewWorker = async () =>{
  let new_worker_name = document.querySelector('#new_worker_name').value
  const rawResponse = await fetch('/create_new_worker', {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({name: new_worker_name})
  });
  const content = await rawResponse.json();

  console.log(content);
};

updateUrls = () =>{
        let addition = document.querySelector('#api_key_input').value
        Array.from(document.querySelectorAll('a')).map(el=>el.href= `${el.href}&api_key=${addition}`)
      }
// console.log('{{ data | tojson | safe}}')
      let api_key = window.location.search.split('=')[1]
      data = {{ data | tojson}}
      workers = Object.entries(data.workers).map(el=>el[1])
      events = Object.entries(data.events).map(el=>el[1])
      farm_total_hash = 0
      generateWorkerInnerHtml = (worker)=>{

        let gpu_table_html = ``
        worker.gpus_info.map(gpu=>{
          gpu_table_html+= `
          <tr>
            <th scope="row">${gpu.name}</br>${gpu.bus_id}</th>
            
            <!-- <th scope="row"></th> -->
            <td>${gpu.temp}</td>
            <td>${gpu.fan}</td>
            <td>${gpu.hashrate}</td>
            <td>edit OC</td>
          </tr>
          
          `
        });
        let worker_uptime_minutes_total = Math.round((worker.last_update_time - worker.boot_time) / 60) // total minutes 
        let worker_uptime_hours = Math.floor((worker_uptime_minutes_total) / 60) // total hours 
        let worker_uptime_minutes = worker_uptime_minutes_total - worker_uptime_hours * 60 // minutes minus hours 
        
        let worker_status = `${worker_uptime_hours}h ${worker_uptime_minutes}m`
        if (new Date().getTime()/1000 - worker.last_update_time > 60 ){
          worker_status = `Inactive`
        }
        worker.worker_status = worker_status
        let total_hash = 0
        worker.gpus_info.map(gpu=>{
          if (gpu.hashrate != null){
            total_hash += parseFloat(gpu.hashrate)
          }
        })
        if (total_hash != null && worker_status !== `Inactive`){
          farm_total_hash += total_hash
        }
        let innerHTML = `
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${worker.worker_api_key}" aria-expanded="false" aria-controls="collapse${worker.worker_api_key}">
              ${worker.name} || ${worker_status} || ${worker.gpus_info.length} gpu || algo ${total_hash} || consumption
            </button>
          <div id="collapse${worker.worker_api_key}" class="collapse" >
            <div class="card card-body">

              worker_api_key: ${worker.worker_api_key}
              </br>boot time: ${new Date(worker.boot_time * 1000).toLocaleString()}
              </br>last update time: ${new Date(worker.last_update_time * 1000).toLocaleString()}
              </br>oc_settings: ${JSON.stringify(worker.oc_settings)}
              </br>flight_sheet: flightsheetnames and params ${worker.flight_sheet}
              </br>
              <div class="d-grid gap-2 d-md-block">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reboot_worker_modal${worker.worker_api_key}">
                reboot
              </button>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="reboot_worker_modal${worker.worker_api_key}" tabindex="-1" role="dialog" aria-labelledby="reboot_worker_modal${worker.worker_api_key}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="reboot_worker_modal${worker.worker_api_key}">reboot_worker ${worker.name}?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </button>
                    </div>



                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-outline-primary"><a href="/reboot_worker?worker_api_key=${worker.worker_api_key}&api_key=${api_key}">reboot worker</a></button>
                    </div>
                  </div>
                </div>
              </div>



              <div class="d-grid gap-2 d-md-block">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AMD_OC${worker.worker_api_key}">
                AMD OC
              </button>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="AMD_OC${worker.worker_api_key}" tabindex="-1" role="dialog" aria-labelledby="AMD_OC${worker.worker_api_key}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="AMD_OC${worker.worker_api_key}">AMD_OC ${worker.name}?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </button>
                    </div>
                    <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Fan</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="hihihi">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Core clock</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Core voltage</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">memory clock</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">memory voltage</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled>
                    </div>
  
                </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-outline-primary"><a href="/reboot_worker?worker_api_key=${worker.worker_api_key}&api_key=${api_key}">Apply oc</a></button>
                    </div>
                  </div>
                </div>
              </div>



              <div class="d-grid gap-2 d-md-block">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reboot_worker_modal${worker.worker_api_key}">
                NVIDIA OC
              </button>
              </div>

              <div class="d-grid gap-2 d-md-block">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reboot_worker_modal${worker.worker_api_key}">
                Change Flight sheet
              </button>
              </div>
              





              </br>
              </br>
              <table class="table">
                <thead>
                  
                  gpu info
                  <tr>
                    <th scope="col"># +</br> bus id</th>
                    <!-- <th scope="col">name</th> -->
                    
                    <th scope="col">temp</th>
                    <th scope="col">fan</th>
                    <th scope="col">hash</th>
                    <th scope="col">voltage</th>
                    <th scope="col">coremhz</th>
                  </tr>
                </thead>
                <tbody>
                  ${gpu_table_html}
                </tbody>
              </table>

              
              <div class="d-grid gap-2 d-md-block">
                <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapse${worker.worker_api_key}" aria-expanded="false" aria-controls="collapse${worker.worker_api_key}">
                CLOSE MODAL#
              </button>
              </div>

            </br>
              <div class="d-grid gap-2 d-md-block">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DELETE_worker_modal${worker.worker_api_key}">
                DELETE WORKER
              </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="DELETE_worker_modal${worker.worker_api_key}" tabindex="-1" role="dialog" aria-labelledby="DELETE_worker_modal${worker.worker_api_key}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="DELETE_worker_modal${worker.worker_api_key}">DELETE ${worker.name}?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </button>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-outline-danger" onclick="deleteWorker('${worker.worker_api_key}')">DELETE worker</button>
                    </div>
                  </div>
                </div>
              </div>
              </br>

              </div>

          </div>
        `

        return innerHTML
      };
    
      deleteWorker = async (api_key) =>{
  const rawResponse = await fetch('/delete_worker', {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({api_key: api_key})
  });
  const content = await rawResponse.json();

  console.log(content);
};

      displayWorkers = ()=>{
        let content = ''
        workers.map(worker=>{
          content += generateWorkerInnerHtml(worker)
        });
        document.querySelector('#accordionExample').innerHTML = content
      };
      displayWorkers()


      //sort by time
      events = events.sort(function(a, b){return b.time - a.time});
      events_content = ``
      events.map(el=>{
        el.time = `${new Date(el.time * 1000)}`
        events_content += `</br></br>${JSON.stringify(el)}`;
        
      })
      document.querySelector('#eventscontent').innerHTML = events_content
      document.querySelector('#farm_total_hash').innerText = farm_total_hash

      displayFlightSheets = () =>{
        let content = ''
        data.flight_sheets.map(flight_sheet=>{
          content += `
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">${flight_sheet.name}</li>
            <li class="list-group-item">${flight_sheet.algo}</li>
            <li class="list-group-item">${flight_sheet.pool}</li>
            <li class="list-group-item">edit</li>
            <li class="list-group-item">delete</li>
          </ul>

          `
        })
        document.querySelector('#flight_sheets').innerHTML = content
      }
      displayFlightSheets()
    </script>
    


    <script>
      Array.from(document.querySelectorAll('a.navbar_link'))
        .map(el=> el.style.color = 'gray')
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>  </body>
</html>




