{% extends "base.html" %}
{% block content %}
<ul class="list-unstyled ps-0" id="configs_list">
  <li>
    <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/icons-font" rel="noopener" target="_blank">
      <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
      Bootstrap npm starter
    </a>
  </li>
  <li>
    <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/parcel" rel="noopener" target="_blank">
      <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
      Bootstrap Parcel starter
    </a>
  </li>
  <li>
    <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/vite" rel="noopener" target="_blank">
      <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
      Bootstrap Vite starter
    </a>
  </li>

</ul>

{% endblock %}


{% block scripts %}
<script>
document.querySelector(`#title_str`).text = `mapper configs main`
data = JSON.parse(`{{ data | tojson}}`)

generateListElement = (index, name) => {
  return `
    <a class="icon-link mb-1" href="/mapper_configs/edit?index=${index}">
      ${name}
    </a>
    </br>
  `
}

generateContent = () => {
  let main_container = document.querySelector("#main_cont")
  let html_content = ``;

  let i = 0;
  for (let config in data){
    html_content += generateListElement(i, config)
    i+=1;
  }


  main_container.innerHTML = html_content
}
generateContent()
</script>

{% endblock %}