{% extends "base.html" %}


{% block content %}
<form id="main_form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">algo(change to select)</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">pool(change to select?)</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">mining_software(change to select?)</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">mining_software_version(change to select? or make together with mining_software)</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">wallet(change to select?)</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">password</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="x">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">worker( '%worker' for worker name, otherwise empty or custom)</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value='%worker'>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">additional_arguments for miner</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" class="btn btn-primary">Save changes</button>
</form>

{% endblock %}

<!-- <div class="form-check">
  <input type="checkbox" class="form-check-input" id="same-address">
  <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
</div> -->


{% block scripts %}
<script>



data = JSON.parse(`{{ data | tojson}}`)
form_fields = JSON.parse(`{{ form_fileds | tojson}}`)
let page_title = `mapper configs `
if (data != null){
  page_title += `edit ` + data.title
} else {
  page_title += `create`
}
document.querySelector(`#title_str`).text = page_title
let main_container = document.querySelector("#main_cont")
main_container.innerHTML = `<h3>${page_title}</h3>` + main_container.innerHTML

let form_container = document.querySelector("#main_form")



// <div class="mb-3 form-check">
//   <input type="checkbox" class="form-check-input" id="exampleCheck1">
//   <label class="form-check-label" for="exampleCheck1">Check me out</label>
// </div>


form_properties_dict = {
  "checkbox": "form-check-input",
  "text": "form-control"
}
form_html = ``;

for (let field_name in form_fields){
  let field = form_fields[field_name]
  form_html += `<div class="mb-3" title="Stack Overflow">`
  form_html += `<label for="exampleInputEmail1" class="form-label">${field_name}</label>`
  form_html += `</br>`
  form_html += `<input type="${field.type}" id=${field_name} class="${form_properties_dict[field.type]}"`
  if (data[field_name] != null){
    if (field.type == `checkbox` && data[field_name] == true){
      form_html += `checked`
    } else {
      form_html += `value="${data[field_name]}"`
    }

  }
  if (field.disabled){
    form_html += `disabled`
  }
  form_html += `>`
  form_html += `</div>`
}

form_html += `
  <button type="button" class="btn btn-primary">Save changes</button>
`
form_container.innerHTML = form_html;
</script>

{% endblock %}