*

!.gitignore
!build_release.ipynb
!setup.py
!readme.md

!0_guest/
!0_guest/**

!1_host/
!1_host/**


# poe 1 hud plugin 
!hud_dpb/ExileApi/Core/Plugins/ShareData/**

# poe 2 hud 
!hud_dpb/ExileCore2/Plugins/Source/ShareData/**


!poe2_runner.bat
!poe2_lost_city.bat
!bat_aqueduct.bat
!bat_atlas_rush_bama.bat
!bat_atlas_rush_pconc.bat
!bat_atlas_rush_vg.bat
!price_check.bat
!quest_ranger.bat
!quest_witch.bat

**/__pycache__/
**/.vscode/