*
!.gitignore
!build_release.ipynb
!setup.py
!readme.md

!0_guest/
!0_guest/**

!1_host/
!1_host/**


!hud_dpb/
!hud_dpb/ExileApi/
!hud_dpb/ExileApi/Core/
!hud_dpb/ExileApi/Core/Plugins/
!hud_dpb/ExileApi/Core/Plugins/ShareData/
!hud_dpb/ExileApi/Core/Plugins/ShareData/**

!bat_aqueduct.bat
!bat_atlas_rush_bama.bat
!bat_atlas_rush_pconc.bat
!bat_atlas_rush_vg.bat
!price_check.bat
!quest_ranger.bat
!quest_witch.bat

**/__pycache__/
**/.vscode/